<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span>Tentang layanan ini</span>
      Griya Khitan Humaira adalah layanan khitan modern yang menawarkan prosedur khitan tanpa suntik. Mengutamakan
      kenyamanan dan keamanan.
    </p>
    <div class="icons">
      <a (click)="onClickFb()"><i class="fa fa-facebook"></i></a>
      <a (click)="onClickTwitter()"><i class="fa fa-twitter"></i></a>
      <a (click)="onClickWa()"><i class="fa fa-whatsapp"></i></a>
      <a (click)="onClickEmail()"><i class="fa fa-google-plus"></i></a>
       <a (click)="onClickIg()"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span></span> Kebumen, Jawa Tengah 54472</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p> +62 813‑2649‑3285</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:griyakhitanhumaira&#64;gmail.com">griyakhitanhumaira&#64;gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> Khitan<span> Humaira</span></h2>
    <p class="menu">
      <a> Home</a> |
      <a> About</a> |
      <a> Services</a> |
      <a> Portfolio</a> |
      <a> News</a> |
      <a> Contact</a>
    </p>
    <p class="name"> Griya Khitan Humaira &copy; {{currentYear}}</p>
  </div>
</footer>