<article style="padding: 100px 20px 100px 20px;">
  <section class="card">
    <div class="text-content">
      <h3>Khitan di Rumah anda</h3>
      <p>Kami menawarkan layanan khitan di rumah pasien untuk kenyamanan maksimal. Dengan layanan ini, proses khitan dilakukan di lingkungan yang familiar dan nyaman bagi anak.</p>  
      <a href="https://wa.me/6281326493285">Dapatkan sekarang</a>
    </div>
    <div class="visual">
      <img src="/assets/core/del.jpg" alt="" />
    </div>
  </section> 

  <section class="card">
    <div class="text-content">
      <h3>Khitan di Klinik hebat Kami</h3>
      <p>Kami juga menyediakan layanan khitan di klinik kami yang dilengkapi dengan fasilitas modern dan tenaga medis berpengalaman. Nikmati proses khitan yang cepat dan aman dalam lingkungan klinik kami yang bersih dan profesional.</p>
      <a href="https://wa.me/6281326493285">Dapatkan sekarang</a>
    </div>
    <div class="visual">
      <img src="/assets/core/klin.jpg" />
    </div>
  </section> 

  <app-titletwo></app-titletwo>
  <section class="card" style="box-shadow: rgb(49 124 23 / 35%) 0px 5px 15px;">
    <div class="text-content">
      <h3>Perawatan bayi dari Bidan profesional kami</h3>
      <p>Pijat Bayi: Membantu meningkatkan sirkulasi darah, meredakan kolik, dan meningkatkan kualitas tidur bayi</p>
      <a href="https://wa.me/6281326493285" style="background: green; border: none;">Dapatkan sekarang</a>
    </div>
    <div class="visual">
      <img src="/assets/core/pijat.jpg" alt="" />
    </div>
  </section> 
  
</article>
<app-footer></app-footer>