<app-maps></app-maps>
<app-titlethree></app-titlethree>
<div class="wrapper">
  <div class="card">
    <div class="img-avatar">
      <img src="/assets/core/console.jpg" alt="" class="im">
    </div>
    <div class="card-text">
      <div class="portada" style="background-image: url(/assets/core/toy.jpg);">
      </div>
      <div class="title-total">
        <div class="title">Spesial Price</div>
        <h2>Dapatkan mainan gratis</h2>
        <div class="desc">Griya khitan humaira menyediakan hadiah spesial untuk kamu</div>
        <div class="actions">
          <button><i class="fas fa-heart"></i></button>
          <button><i class="fas fa-envelope"></i></button>
          <button (click)="onOpenModalOne()"><i class="fas fa-share"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="card">
    <div class="img-avatar">
      <img src="/assets/core/suntik.avif" alt="" class="im">

    </div>
    <div class="card-text">
      <div class="portada" style="background-image: url(/assets/icon/2.png);">
      </div>
      <div class="title-total">
        <div class="title">Klinik kami</div>
        <h2>Khitan tanpa suntik</h2>
        <div class="desc">Griya khitan humaira merupakan layanan khitan tanpa suntik</div>
        <div class="actions">
          <button><i class="fas fa-heart"></i></button>
          <button><i class="fas fa-envelope"></i></button>
          <button (click)="onOpenModalOne()"><i class="fas fa-share"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="card">
    <div class="img-avatar">
      <img src="/assets/core/car.png" alt="" class="im">
    </div>
    <div class="card-text">
        <div class="portada" style="background-image: url(/assets/core/del.jpg);">

      </div>
      <div class="title-total">
        <div class="title">Delivery</div>
        <h2>Khitan bisa dirumah kamu</h2>
        <div class="desc">Griya khitan humaira menyediakan layanan khitan dilokasi yang sudah ditentukan oleh persetujuan pasien dan klinik kami</div>
        <div class="actions">
          <button><i class="fas fa-heart"></i></button>
          <button><i class="fas fa-envelope"></i></button>
          <button (click)="onOpenModalOne()"><i class="fas fa-share"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 6rem;">
  <app-footer></app-footer>
</div>