<body>
  <div class="container">
    <div id="slide">
      <div class="item" style="background-image: url('/assets/img/x.jpg');">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/img/l.jpg');">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/img/y.jpg');">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/img/x.jpg');">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/img/l.jpg');">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url('/assets/img/y.jpg');">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
          <button>See more</button>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
      <button id="next"><i class="fa-solid fa-angle-right"></i></button>
    </div>
  </div>
</body>