<div class="wrapper">
  <div class="card">
    <div class="img-avatar">
      <img src="/assets/img/k.jpg" alt="" class="im">
    </div>
    <div class="card-text">
      <div class="portada" style="background-image: url(/assets/img/x.jpg);">
      </div>
      <div class="title-total">
        <div class="title">Ant Collector</div>
        <h2>Morgan Sweeney</h2>
        <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in
          their pants.</div>
        <div class="actions">
          <button (click)="onOpenModalOne()"><i class="fas fa-heart"></i></button>
          <button (click)="onOpenModalOne()"><i class="fas fa-envelope"></i></button>
          <button (click)="onOpenModalOne()"><i class="fas fa-share"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="card">
    <div class="img-avatar">
      <img src="/assets/img/k.jpg" alt="" class="im">
    </div>
    <div class="card-text">
      <div class="portada" style="background-image: url(/assets/img/x.jpg);">
      </div>
      <div class="title-total">
        <div class="title">Ant Collector</div>
        <h2>Morgan Sweeney</h2>
        <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in
          their pants.</div>
        <div class="actions">
          <button (click)="onOpenModalOne()"><i class="fas fa-heart"></i></button>
          <button (click)="onOpenModalOne()"><i class="fas fa-envelope"></i></button>
          <button (click)="onOpenModalOne()"><i class="fas fa-share"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>