<app-modalbottomsheet></app-modalbottomsheet>
<ion-content class="ion-padding" style="background-color: #d8d8d8;">
  <div class="donten">
    <h1>Bagikan layanan kami</h1>
    <p class="me">Bagikan layanan khitan tanpa suntik kami. Khitan dapat mainan untuk anak-anak, dan bisa dilakukan di rumah Anda untuk kenyamanan lebih.</p>
  </div>
  <div class="social-menu">
    <ul>
      <li><a href="https://wa.me/6281326493285"><i class="fab fa-whatsapp"></i></a></li>
      <li><a href="https://www.instagram.com/griya.khitanhumaira/"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
</ion-content>