<app-title></app-title>
<div class="image-card-component" style="margin-top: 2rem;">
  <div class="image" style="background-image: url(/assets/img/k.jpg);"></div>
  <div class="content">
    <div class="content-text">
      <h4>Khitan Tanpa Suntik</h4>
      <p>
        Metode khitan modern yang menggunakan teknologi laser atau metode lain yang tidak memerlukan suntikan. Proses ini lebih nyaman dan minim rasa sakit bagi pasien.      </p>
    </div>
    <a (click)="onOpenModal1()" class="cta">Read more</a>
  </div>
</div>
<div class="image-card-component" style="margin-top: 2rem;">
  <div class="image" style="background-image: url(/assets/img/asked.jpg);"></div>
  <div class="content">
    <div class="content-text">
      <h4>Khitan Tanpa Suntik</h4>
      <p>
        Metode khitan modern yang menggunakan teknologi laser atau metode lain yang tidak memerlukan suntikan. Proses ini lebih nyaman dan minim rasa sakit bagi pasien.      </p>
    </div>
    <a (click)="onOpenModal2()" class="cta">Read more</a>
  </div>
</div>
<div class="image-card-component" style="margin-top: 2rem;">
  <div class="image" style="background-image: url(/assets/img/asked.jpg);"></div>
  <div class="content">
    <div class="content-text">
      <h4>Khitan Tanpa Suntik</h4>
      <p>
        Metode khitan modern yang menggunakan teknologi laser atau metode lain yang tidak memerlukan suntikan. Proses ini lebih nyaman dan minim rasa sakit bagi pasien.      </p>
    </div>
    <a (click)="onOpenModal3()" class="cta">Read more</a>
  </div>
</div>
<div class="image-card-component" style="margin-top: 2rem;">
  <div class="image" style="background-image: url(/assets/img/asked.jpg);"></div>
  <div class="content">
    <div class="content-text">
      <h4>Khitan Tanpa Suntik</h4>
      <p>
        Metode khitan modern yang menggunakan teknologi laser atau metode lain yang tidak memerlukan suntikan. Proses ini lebih nyaman dan minim rasa sakit bagi pasien.      </p>
    </div>
    <a (click)="onOpenModal4()" class="cta">Read more</a>
  </div>
</div>
<div class="image-card-component" style="margin-top: 2rem;">
  <div class="image" style="background-image: url(/assets/img/asked.jpg);"></div>
  <div class="content">
    <div class="content-text">
      <h4>Khitan Tanpa Suntik</h4>
      <p>
        Metode khitan modern yang menggunakan teknologi laser atau metode lain yang tidak memerlukan suntikan. Proses ini lebih nyaman dan minim rasa sakit bagi pasien.      </p>
    </div>
    <a (click)="onOpenModal5()" class="cta">Read more</a>
  </div>
</div>
<app-ourservice></app-ourservice>