<div class="wrapper">
  <section>
    <div class="judul" *ngIf="onShow" @slideInFromTop>
      <h1>Pelayanan kami</h1>
    </div>
    <div class="judul">
      <p><strong class="str"> | </strong>Lorem ipsum dolor sit amfpem ediod</p>
    </div>
    <div class="judul">
      <h1 class="lore">lorem</h1>
    </div>
    <div class="row" *ngIf="onShow" @fadeInBottom>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <ion-icon name="bed-outline"></ion-icon>
          </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
          <div class="cen">
            <ion-button size="default" color="light" shape="round" (click)="setOpen(1, true)">Detail</ion-button>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <ion-icon name="cash-outline"></ion-icon>
          </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
          <div class="cen">
            <ion-button size="default" color="light" shape="round" (click)="setOpen(2, true)">Detail</ion-button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <ion-icon name="bandage-outline"></ion-icon>
          </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
          <div class="cen">
            <ion-button size="default" color="light" shape="round" (click)="setOpen(3, true)">Detail</ion-button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <ion-icon name="cash-outline"></ion-icon>
          </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
          <div class="cen">
            <ion-button size="default" color="light" shape="round" (click)="setOpen(4, true)">Detail</ion-button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <ion-icon name="checkbox-outline"></ion-icon>
          </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
          <div class="cen">
            <ion-button size="default" color="light" shape="round" (click)="setOpen(5, true)">Detail</ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="cen" style="visibility: hidden;">
      <div class="me" style="height: 70px;">
        <keygen>a</keygen>
      </div>
    </div>
  </section>
</div>

<!-- modal -->

<ion-modal class="mod1" [isOpen]="isModalOpen1">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button size="default" shape="round" color="primary" (click)="setOpen(1, false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-modal1></app-modal1>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="mod2" [isOpen]="isModalOpen2">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button size="default" shape="round" color="primary" (click)="setOpen(2, false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-modal2></app-modal2>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="mod3" [isOpen]="isModalOpen3">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button size="default" shape="round" color="primary" (click)="setOpen(3, false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-modal3></app-modal3>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="mod4" [isOpen]="isModalOpen4">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button size="default" shape="round" color="primary" (click)="setOpen(4, false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-modal4></app-modal4>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="mod5" [isOpen]="isModalOpen5">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button size="default" shape="round" color="primary" (click)="setOpen(5, false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-modal5></app-modal5>
    </ion-content>
  </ng-template>
</ion-modal>