<section class="articles">
  <div style="padding: 29px;">
    <div class="container">
      <div class="section-header" style="margin-bottom: 2.5rem;">
        <h2>Praktek kerja kami</h2>
        <p>
          Profesional dan Nyaman dengan Teknologi modern
        </p>
      </div>
      <div class="articles-grid">
        <div class="article">
          <div class="article-image">
            <img src="/assets/core/p3.jpg" alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>Di klinik kami</span>
            </div>
            <div class="article-title">
              <a>
                <h3>Kami memahami bahwa prosedur sunat seringkali menimbulkan kekhawatiran</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                Terutama bagi
                anak-anak. Oleh karena itu, kami menawarkan solusi sunat tanpa suntik, yang dirancang untuk memberikan
                pengalaman yang nyaman, aman, dan minim rasa sakit.
              </p>
            </div>
          </div>
        </div>
        <div class="article">
          <div class="article-image">
            <img src="/assets/core/mk.jpg" alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>Teknisi kami</span>
            </div>
            <div class="article-title">
              <a>
                <h3>Kami menggunakan teknologi canggih sebagai perantara proses khitan</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                Metode inovatif ini menggunakan teknologi baru
                yang menghilangkan kebutuhan akan suntikan anestesi dan pemotongan, sehingga prosedur menjadi lebih
                cepat dan minim
                trauma.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="article">
          <div class="article-image">
            <img
              src="/assets/core/alat.jpg"
              alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>Peralatan kami</span>
            </div>
            <div class="article-title">
              <a  >
                <h3>Kami memiliki alat canggih yang didatangkan dari US langsung.</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                Terkadang pasien ragu dengan kualitas alat yang digunakan, tetapi dengan alat terbaik yang kami miliki, anda tak perlu khawatir lagi.
              </p>
            </div>
          </div>
        </div> -->
        <div class="article">
          <div class="article-image">
            <img src="/assets/core/jabat.jpg" alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>Tanggung jawab kami</span>
            </div>
            <div class="article-title">
              <a>
                <h3>Perawatan setelah khitan</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                Perawatan setelah khitan cukup simpel, hanya perlu jaga kebersihan area penis serta minum obat sesuai
                panduan. Kontrol tidak wajib, atau cukup dengan mengirim foto kondisi terbaru penis setelah khitan. Kami
                juga akan selalu memonitor perkembangan klien setelah khitan supaya proses penyembuhan lebih cepat </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>