<ion-tabs>
  <div class="sc-bottom-bar" *ngIf="!isLandingPage" #menuBar>
    <a class="sc-menu-item" (click)="selectMenu($event, 0)">
      <i class="fas fa-cart-shopping" style="margin-left: -4px;"></i>
    </a>
    <a class="sc-menu-item" (click)="selectMenu($event, 1)">
      <i class="fas fa-plus" style="margin-left: 1px;"></i>
    </a>
    <a class="sc-menu-item sc-current" (click)="selectMenu($event, 2)">
      <i class="fas fa-home" style="margin-left: -2px;"></i>
    </a>
    <a class="sc-menu-item" (click)="selectMenu($event, 3)">
      <i class="fas fa-smile" style="margin-left: -1px;"></i>
    </a>
    <a class="sc-menu-item" (click)="selectMenu($event, 4)">
      <i class="fas fa-bell"></i>
    </a>
    <a class="sc-nav-indicator" #menuIndicator></a>
  </div>
  <router-outlet></router-outlet>
</ion-tabs>