.sc-bottom-bar {
  position: absolute;
  display: flex;
  padding: 16px 36px;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  height: 64px;
  font-size: 26px;
  background-image: radial-gradient(
    circle at 36px 6px,
    transparent 36px,
    #ffffff 37px
  );
  filter: drop-shadow(0px -1px 6px rgba(0, 0, 0, 0.08))
    drop-shadow(0px -2px 12px rgba(0, 0, 0, 0.12));
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) 0.45s;
}

.sc-nav-indicator {
  position: absolute;
  width: 56px;
  height: 56px;
  bottom: 30px;
  margin: auto;
  left: 0;
  background-color: #159f2d;
  box-shadow: 0 0 20px 1px rgb(136 234 62 / 80%);
  border-radius: 50%;
  transition: cubic-bezier(0.45, 0.73, 0, 0.59) 0.4s;
}

.sc-menu-item {
  color: black;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.sc-current {
  position: relative;
  color: #ffffff;
  z-index: 3;
  transform: translate3d(0px, -22px, 0px);
}

@media (max-width: 768px) {
  .sc-bottom-bar {
    width: auto;
    height: 65px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
