<ion-tabs>
  <div class="sc-bottom-bar" #menuBar>
    <a class="sc-menu-item" href="/page/home" (click)="selectMenu($event, 0)">
      <ion-icon name="home-outline"></ion-icon>
    </a>
    <a class="sc-menu-item" href="/page/service" (click)="selectMenu($event, 1)">
      <ion-icon name="bag-add-outline"></ion-icon>
    </a>
    <a class="sc-menu-item" href="/page/share" (click)="selectMenu($event, 2)">
      <ion-icon name="share-social-outline" style="margin-left: -3px;"></ion-icon>
    </a>
    <a class="sc-menu-item" href="/page/testimonial" (click)="selectMenu($event, 3)">
      <ion-icon name="happy-outline" style="margin-left: -1px;"></ion-icon>
    </a>
    <a class="sc-nav-indicator" #menuIndicator></a>
  </div>
  <router-outlet></router-outlet>
</ion-tabs>