ion-title {
  font-family: "Concert One", sans-serif;
}

.rounded-img {
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  overflow: hidden; 
}

.header-logo {
  width: 100%;
  height: auto;
  display: block;
  padding: 3px;
}

