@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  font-family: "Roboto Condensed", sans-serif;
}
body {
  margin: 0;
}
.parallax-wrapper {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.background {
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 70vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
}
.background--spring {
  background-image: url("/assets/core/lm.png");
}
.background--winter {
  background-image: url("/assets/core/lop.jpg");
}

.title {
  position: absolute;
  margin: 0;
  top: calc(50% - 50px);
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  height: 100px;
  color: white;
  font-size: 25px;
  border-radius: 50px;
  padding-top: 21px;
  background: rgba(0, 0, 0, 0.4);
}

h2 {
  font-weight: 900;
}

.season-desc {
  z-index: 1;
  position: relative;
  background: #282e34;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2em;
  padding: 3rem;
  height: 70vh;
  margin: 0;
  display: flex;
  .desc-wrapper {
    margin: auto;
    box-sizing: border-box;
  }
  .season--title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .season--about {
    margin-top: 50px;
    padding: 0;
    font-size: 20px;
  }
}
@media (max-width: 998px) and (orientation: portrait) {
  .season-desc {
    padding: 1.5rem 20px;
    font-size: 1rem;
    height: unset;
    min-height: 70vh;
    .season-title {
      font-size: 2.5rem;
      margin: 20px 0;
      letter-spacing: unset;
    }
    .season-about {
      margin-top: 20px;
    }
  }
}

@media (max-width:768px) {
  .season--about {
    font-size: 18px !important;
  }
  .season--title {
    font-size: 2rem !important;
  }
}