<div class="parallax-wrapper">
  <div class="background background--spring">
    <h2 class="title">Bingung mau khitan dimana ?</h2>
  </div>
  <section class="season-desc">
    <div class="desc-wrapper">
      <h3 class="season--title">Tanpa Suntik</h3>
      <p class="season--about">Griya khitan humaira adalah solusi untuk layanan khitan modern. Menyediakan berbagai
        metode khitan terbaru dengan bius tanpa suntik serta dilakukan dengan aman nyaman dan teliti sehingga anak-anak,
        bayi ataupun orang dewasa nyaman selama prosedur berlangsung.
        Karena alat alat yang digunakan selalu terjaga kesterilanya memungkinkan khitan akan cepat sembuh dan terhindar
        dari infeksi</p>
    </div>
  </section>
  <div class="background background--winter">
    <h2 class="title" style="padding-top: 35px;">Manfaat Khitan</h2>
  </div>
  <section class="season-desc">
    <div class="desc-wrapper">
      <h3 class="season--title">Keuntungan</h3>
      <p class="season--about">Khitan dari sudut pandang islami memiliki manfaat mengamalkan sunnah serta memaksimalkan
        kesucian seorang muslim, sedangkan dari segi kesehatan khitan memiliki manfaat menjaga kebersihan organ kelamin
        sehingga akan terhindar dari berbagai penyakit seperti infeksi saluran kencing dan penyakit menular lainnya.</p>
    </div>
  </section>
</div>