<main class="main">
  <!-- <section class="landing">
    <div class="landing-text">
      <h1>Griya Khitan Humaira</h1>
      <p>
        Layanan Khitan Modern Tanpa Suntik - Aman, Nyaman, dan Profesional.
      </p>
      <a class="btn btn-lg" (click)="onOpenModalOne()">Pelajari lebih lanjut</a>
    </div>
    <div class="landing-image">
      <img src="/assets/img/kh2.png" alt="Working Illustration" />
    </div>
  </section> -->
  <section>
    <app-parallax></app-parallax>
  </section>
  <section class="features" id="features">
    <div class="container">
      <div class="url-shorten-feature">
        <form class="url-shorten-form" id="url-shorten-form">
          <div>
            <input type="email" class="url-input" placeholder="Langganan sekarang..." autocomplete="off" />
            <span class="alert"></span>
          </div>
          <button type="submit" class="btn btn-lg btn-plus-icon">Subscribe</button>
        </form>
        <div class="url-shorten-results"></div>
      </div>
      <div class="more-features">
        <div class="section-header">
          <h2>Solusi Khitan Nyaman</h2>
          <p>
            Griya Khitan Humaira menggunakan teknologi modern serta mengutamakan Kenyamanan dan Keselamatan
          </p>
        </div>
        <div class="more-features-content">
          <div class="feature">
            <div class="feature-illustration">
              <img
                src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-fully-customizable.svg"
                alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Tanpa suntik</h3>
              <p>
                Khitan tanpa suntik adalah metode modern dalam prosedur khitan yang bertujuan untuk mengurangi rasa
                sakit dan ketidaknyamanan yang biasanya dialami saat proses khitan.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img
                src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-detailed-records.svg"
                alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Tanpa Pemotongan</h3>
              <p>
                Metode khitan dengan klem merupakan salah satu teknik modern yang dikenal sebagai "Tanpa Pemotongan."
                Pada metode ini, tidak ada pembedahan atau pemotongan jaringan kulit secara langsung. Sebagai gantinya,
                klem digunakan untuk menjepit dan memisahkan kulit pada ujung penis. </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img
                src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-brand-recognition.svg"
                alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Pemulihan cepat</h3>
              <p>
                Pemulihan cepat adalah salah satu keunggulan utama dari metode sunat tanpa suntik, karena prosedur ini
                tidak menggunakan jarum untuk anestesi, trauma fisik pada jaringan kulit di area yang disunat jauh lebih
                sedikit
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-articlehome></app-articlehome>
  <section>
    <app-ourteam></app-ourteam>
  </section>
  <section>
    <app-footer></app-footer>
  </section>
</main>