<main class="main">
  <section class="landing">
    <div class="landing-text">
      <h1>lorem ipsum dolor sit amet</h1>
      <p>
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
      </p>
      <a class="btn btn-lg">Mulai</a>
    </div>
    <div class="landing-image">
      <img src="/assets/img/asked.jpg" alt="Working Illustration" />
    </div>
  </section>
  <section class="features" id="features">
    <div class="container">
      <div class="url-shorten-feature">
        <form class="url-shorten-form" id="url-shorten-form">
          <div>
            <input type="email" class="url-input" placeholder="Langganan sekarang..." autocomplete="off" />
            <span class="alert"></span>
          </div>
          <button type="submit" class="btn btn-lg btn-plus-icon">Subscribe</button>
        </form>
        <div class="url-shorten-results"></div>
      </div>
      <div class="more-features">
        <div class="section-header">
          <h2>Bagaimana caranya</h2>
          <p>
            Track how your links are performing across the web with our
            advanced statistics dashboard.
          </p>
        </div>
        <div class="more-features-content">
          <div class="feature">
            <div class="feature-illustration">
              <img
                src="/assets/img/liq.png"
                alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Tanpa suntik</h3>
              <p>
                Boost your brand recognition with each click. Generic links
                don’t mean a thing. Branded links help instil confidence in
                your content.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img
                src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-detailed-records.svg"
                alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Pemulihan cepat</h3>
              <p>
                Gain insights into who is clicking your links. Knowing when
                and where people engage with your content helps inform
                better decisions.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="feature-illustration">
              <img
                src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/icon-fully-customizable.svg"
                alt="Feature Illustration Icon" />
            </div>
            <div class="feature-details">
              <h3>Expert dokter</h3>
              <p>
                Improve brand awareness and content discoverability through
                customizable links, supercharging audience engagement.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pricing" id="pricing">
    <div class="container">
      <div class="section-header">
        <h2>Boost your links today</h2>
        <a href="#" class="btn btn-lg">Get Started</a>
      </div>
    </div>
  </section>
  <section class="articles">
    <div class="container">
      <div class="section-heading">
        <h2>Latest Articles</h2>
      </div>
      <div class="articles-grid">
        <div class="article">
          <div class="article-image">
            <img
              src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_easybank-landing-page/main/images/image-currency.jpg"
              alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>By Claire Robinson</span>
            </div>
            <div class="article-title">
              <a href="#">
                <h3>Receive money in any currency with no fees</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                The world is getting smaller and we’re becoming more mobile.
                So why should you be forced to only receive money in a
                single …
              </p>
            </div>
          </div>
        </div>
        <div class="article">
          <div class="article-image">
            <img
              src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_easybank-landing-page/main/images/image-restaurant.jpg"
              alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>By Wilson Hutton</span>
            </div>
            <div class="article-title">
              <a href="#">
                <h3>Treat yourself without worrying about money</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                Our simple budgeting feature allows you to separate out your
                spending and set realistic limits each month. That means you
                …
              </p>
            </div>
          </div>
        </div>
        <div class="article">
          <div class="article-image">
            <img
              src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_easybank-landing-page/main/images/image-plane.jpg"
              alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>By Wilson Hutton</span>
            </div>
            <div class="article-title">
              <a href="#">
                <h3>Take your Easybank card wherever you go</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                We want you to enjoy your travels. This is why we don’t
                charge any fees on purchases while you’re abroad. We’ll even
                show you …
              </p>
            </div>
          </div>
        </div>
        <div class="article">
          <div class="article-image">
            <img
              src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_easybank-landing-page/main/images/image-confetti.jpg"
              alt="Article Image" />
          </div>
          <div class="article-text">
            <div class="article-author">
              <span>By Claire Robinson</span>
            </div>
            <div class="article-title">
              <a href="#">
                <h3>Our invite-only Beta accounts are now live!</h3>
              </a>
            </div>
            <div class="article-description">
              <p>
                After a lot of hard work by the whole team, we’re excited to
                launch our closed beta. It’s easy to request an invite
                through the site ...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>