.main {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff0f5;
  padding: 4rem 0rem 4rem 0rem;
}
.profile-card {
  position: relative;
  font-family: sans-serif;
  width: 360px;
  height: 360px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  margin: 0 25px;
}
.profile-card:hover {
  border-radius: 10px;
  height: 470px;
}
.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}
.profile-card:hover .img {
  transform: translateY(-60px);
}
.img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
}
.profile-card:hover img {
  border-radius: 10px;
}
.caption {
  text-align: center;
  transform: translateY(-155px);
  opacity: 0;
  transition: 0.6s;
}
.profile-card:hover .caption {
  opacity: 1;
}
.caption h3 {
  font-size: 21px;
  font-family: sans-serif;
}
.caption p {
  font-size: 15px;
  color: #0c52a1;
  font-family: sans-serif;
  margin: 20px 0 20px 0;
}
.caption .social-links a {
  color: #333;
  margin-right: 15px;
  font-size: 21px;
  transition: 0.6s;
}
.social-links a:hover {
  color: #0c52a1;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 35px;
}

h1 {
  margin: 0 !important;
}

.t {
  background-color: #eff0f5;
  text-align: center;
  font-weight: 600;
  font-family: Roboto, sans-serif;
  color: black;
  padding-top: 4rem;
}

.s {
  text-align: center;
  margin: 0 !important;
  background-color: #eff0f5;
  color: gray;
  padding-top: 10px;
}

@media (max-width: 500px) {
  .section-header h2 {
    font-size: 26px;
  }
}

@media (max-width: 280px) {
  .section-header h2 {
    font-size: 22px;
  }
}

.section-header p {
  width: 50%;
  margin: 7px auto 0;
}

@media (max-width: 992px) {
  .section-header p {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .section-header p {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .profile-card {
    height: 360px;
  }
  .profile-card:hover {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 4rem;
  }
  .profile-card {
    height: 362px;
  }
  .profile-card:hover {
    height: 460px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    flex-direction: column;
    gap: 4rem;
    width: auto;
    height: auto;
    padding-top: 2rem;
  }
  .profile-card {
    height: 350px;
    width: 350px;
  }
  .profile-card:hover {
    height: 458px;
  }
}


.btn {
  display: inline-block;
  color: white;
  background-color: #2acf9e;
  text-transform: capitalize;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn.btn-sm {
  padding: 7px 21px;
}

.btn.btn-lg {
  padding: 12px 36px;
}

.btn.btn-plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.btn.btn-plus-icon .icon {
  font-size: 22px;
}

.btn:hover {
  background-color: #6be1e1;
}

.url-shorten-form .btn {
  text-align: center;
  border-radius: inherit;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .url-shorten-form .btn {
    font-size: 19px;
    padding: 10px 30px;
  }
}

