<div class="parallax-wrapper">
  <div class="background background--spring">
    <h2 class="title">Bingung mau khitan dimana ?</h2>
  </div>
  <section class="season-desc">
    <div class="desc-wrapper">
      <h3 class="season--title">Tanpa Suntik</h3>
      <p class="season--about">Griya Khitan Humaira adalah solusi modern untuk layanan khitan, menawarkan metode khitan tanpa suntik yang nyaman dan minim rasa sakit. Dengan teknologi terkini, proses khitan dilakukan dengan cepat dan aman, sehingga anak-anak maupun orang dewasa merasa lebih tenang dan nyaman selama prosedur berlangsung</p>
    </div>
  </section>
  <div class="background background--winter">
    <h2 class="title" style="padding-top: 35px;">Manfaat Khitan</h2>
  </div>
  <section class="season-desc">
    <div class="desc-wrapper">
      <h3 class="season--title">Keuntungan</h3>
      <p class="season--about">Kebersihan dan Kesehatan Khitan membantu menjaga organ intim, mengurangi risiko infeksi saluran kemih, dan mengurangi penumpukan bakteri yang dapat menyebabkan berbagai penyakit. Risiko terkena penyakit menular seksual, termasuk HIV, dapat berkurang secara signifikan.</p>
    </div>
  </section>
</div>