<div class="parallax-wrapper">
  <div class="background background--spring">
    <h2 class="title">Spring</h2>
  </div>
  <section class="season-desc">
    <div class="desc-wrapper">
      <h3 class="season--title">Spring</h3>
      <p class="season--about">Spring is one of the four conventional temperate seasons, following winter and preceding
        summer. There are various technical definitions of spring, but local usage of the term varies according to local
        climate, cultures and customs. When it is spring in the Northern Hemisphere, it is autumn in the Southern
        Hemisphere and vice versa. At the spring (or vernal) equinox, days and nights are approximately twelve hours
        long, with day length increasing and night length decreasing as the season progresses.</p>
    </div>
  </section>
  <div class="background background--winter">
    <h2 class="title">Winter</h2>
  </div>
  <section class="season-desc">
    <div class="desc-wrapper">
      <h3 class="season--title">Winter</h3>
      <p class="season--about">Winter is the coldest season of the year in polar and temperate zones (winter does not
        occur in most of the tropical zone). It occurs after autumn and before spring in each year. Winter is caused by
        the axis of the Earth in that hemisphere being oriented away from the Sun. Different cultures define different
        dates as the start of winter, and some use a definition based on weather. When it is winter in the Northern
        Hemisphere, it is summer in the Southern Hemisphere, and vice versa. In many regions, winter is associated with
        snow and freezing temperatures.</p>
    </div>
  </section>
</div>